@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0C0C0C;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}

/* Pour faire joli sur les barres de défilement */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0C0C0C; 
}
::-webkit-scrollbar-thumb {
  background: #2C2C2E; 
  border-radius: 4px;
}
/* Cache la barre de défilement pour Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Cache la barre de défilement pour IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}